<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учет студентов</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<div class="container">
    <h1>Учет студентов</h1>

    <!-- Таблица со списком студентов -->
    <h2>Список студентов</h2>
    <table>
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Курс</th>
                <th>Группа</th>
                <th>Аттестация</th>
                <th>Адрес</th>
                <th>Редактирование</th>
                <th>Удаление</th>
                
                
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <!-- Форма для добавления нового студента -->
    <form id="addStudentForm" onsubmit="event.preventDefault(); addStudent();">
        <form id="addStudentForm" onsubmit="event.preventDefault(); addStudent();">
            <h2>Добавить студента</h2>
            <label for="fullName">ФИО:</label>
            <input type="text" id="fullName" name="fullName" required><br>
        
            <label for="course">Курс:</label>
            <input type="number" id="course" name="course" min="1" max="6" required><br>
        
            <label for="group">Группа:</label>
            <input type="text" id="group" name="group" required><br>
        
            <label for="status">Аттестация:</label>
            <select id="status" name="status">
                <option value="Сдал">Сдал</option>
                <option value="Не сдал">Не сдал</option>
            </select><br>
        
            <label for="address">Адрес:</label>
            <input type="text" id="address" name="address"><br>
        
            <button type="submit">Добавить</button>
        </form>
        
    </form>
</div>

<script>
    function clearInputFields() {
    document.getElementById('fullName').value = '';
    document.getElementById('course').value = '';
    document.getElementById('group').value = '';
    document.getElementById('status').value = '';
    document.getElementById('address').value = '';
}
    async function addStudent() {
        const fullName = document.getElementById('fullName').value;
        const course = document.getElementById('course').value;
        const group = document.getElementById('group').value;
        const status = document.getElementById('status').value;
        const address = document.getElementById('address').value;

        try {
            const response = await fetch('/students/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ fullName, course, group, status, address })
            });

            if (!response.ok) {
                throw new Error('Ошибка при добавлении студента');
            }
            clearInputFields();
            // Обновляем таблицу после успешного добавления студента
            fetchStudentList();
        } catch (error) {
            console.error(error.message);
        }
    }

    async function fetchStudentList() {
        try {
            const response = await fetch('/students');
            const students = await response.json();
            const tableBody = document.querySelector('tbody');
            tableBody.innerHTML = '';

            students.forEach(student => {
                const row = `<tr>
                                <td>${student.fullName}</td>
                                <td>${student.course}</td>
                                <td>${student.group}</td>
                                <td>${student.status}</td>
                                <td>${student.address}</td>
                                <td><button onclick="editStudent('${student._id}')" style="background-color:#30d5c8" button:hover:background:#fff>Редактировать</button></td>
                                <td><button onclick="deleteStudent('${student._id}')">Удалить</button></td>
                            </tr>`;
                tableBody.insertAdjacentHTML('beforeend', row);
            });
        } catch (error) {
            console.error(error.message);
        }
    }

    async function deleteStudent(studentId) {
        try {
            const response = await fetch(`/students/${studentId}`, {
                method: 'DELETE'
            });

            if (!response.ok) {
                throw new Error('Ошибка при удалении студента');
            }

            // Обновляем таблицу после успешного удаления студента
            fetchStudentList();
        } catch (error) {
            console.error(error.message);
        }
    }

    async function editStudent(studentId){
        const fullNameUpdate=prompt("Введите новое ФИО студента:");
        const courseUpdate = prompt("Введите новый курс студента:");
        const groupUpdate = prompt("Введите новую группу студента:");
        const statusUpdate = prompt("Введите новый статус студента (Сдал/Не сдал):");
        const addressUpdate = prompt("Введите новый адрес студента:");

        try{
            const response=await fetch(`/students/${studentId}`,{
                method:'PATCH',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({fullNameUpdate,courseUpdate,groupUpdate,statusUpdate,addressUpdate})
            });
            if(!response.ok){
                throw new Error('Ошибка при редактировании студента!')
            }
            fetchStudentList();
        }catch(error){
            console.error(message.error)
        }
        
    }

    // Вызываем функцию для загрузки списка студентов при загрузке страницы
    document.addEventListener('DOMContentLoaded', fetchStudentList);
</script>
</body>
</html>
